---
layout: layouts/base.liquid
pagination:
  data: collections.postsByCategories
  size: 1
  alias: postsCategories
permalink: /{{ postsCategories.slug }}/
eleventyComputed:
    title: "{{ postsCategories.categoryName }}"
---

<div class="content">
  <h1 class="heading">Posts about {{postsCategories.categoryName}}</h1>

  {% for post in postsCategories.posts %}
    <div>
      {% render "partials/post-meta-dates.liquid", page: page, post: post %}
      <h2 class="blog-title"><a href="{{ post.url }}" >{{ post.data.title }}</a></h2>
      {% render "partials/post-meta-tax.liquid", page: page, post: post, postsByCategories: collections.postsByCategories %}

      <div class="prose post-summary">
        {{ post.data.post_excerpt | markdown }}
      </div>
    </div>
  {%- endfor -%}

  <div class="pagination">
    {% if postsCategories.pages.size > 1 %}

    <ul class="button-nav">
      {% if page.url == postsCategories.href.first %}
        <li>
          <a aria-disabled="true" aria-label="First" role="button" tabindex="-1"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
      {% else %}
        <li>
          <a href="{{ postsCategories.href.first }}" aria-label="First"  role="button"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
      {% endif %}

      {% if postsCategories.href.previous %}
        <li class="page-item">
          <a href="{{ postsCategories.href.previous }}" aria-label="Previous" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-black bg-white border border-gray-300 hover:bg-red-600 dark:bg-gray-600 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="button"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a aria-disabled="true" aria-label="Previous" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-400 bg-white border border-gray-300 dark:bg-gray-500 dark:border-gray-700 dark:text-gray-400" role="button" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
        </li>
      {% endif %}


      {% for i in (1..postsCategories.href.count) %}
        {% assign j = i | minus: 1 %}
        {% if i == postsCategories.currentPage %}
          <li>
            <a aria-current="page" aria-label="Page {{ i }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-400 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" role="button">{{ i }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ postsCategories.href.all[j] }}" aria-label="Page {{ i }}" class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white border border-gray-300 hover:bg-red-600 dark:bg-gray-600 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="button">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if postsCategories.href.next %}
        <li>
          <a href="{{ postsCategories.href.next }}" aria-label="Next" class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white border border-gray-300 hover:bg-red-600 dark:bg-gray-600 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700" role="button"><span aria-hidden="true">&raquo;</span></a>
        </li>
      {% else %}
        <li>
          <a aria-disabled="true" aria-label="Next" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-400 bg-white border border-gray-300 dark:bg-gray-500 dark:border-gray-700 dark:text-gray-400" role="button" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
        </li>
      {% endif %}

      {% if page.url == postsCategories.href.last %}
        <li>
          <a aria-disabled="true" aria-label="Last" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-400 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-500 dark:border-gray-700 dark:text-gray-400" role="button" tabindex="-1"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
      {% else %}
        <li>
          <a href="{{postsCategories.href.last }}" aria-label="Last" class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white border border-gray-300 rounded-e-lg hover:bg-red-600 dark:bg-gray-600 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="button"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
