---
layout: layouts/base.liquid
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: "{{ tag }}"
---
<!--https://www.11ty.dev/docs/quicktips/tag-pages/-->
<!--This is a special case for tags which 11ty handles differently-->
<div class="content">
  <h1 class="heading">Posts about {{ tag }}</h1>

    {% for post in collections[tag] | reverse %}
      <div>
        {% render "partials/post-meta-dates.liquid", page: page, post: post %}

        <h2 class="blog-title"> <a href="{{ post.url }}">{{ post.data.title }}</a></h2>

        {% render "partials/post-meta-tax.liquid", page: page, post: post, postsByCategories: collections.postsByCategories %}

        <div class="prose post-summary">
          {{ post.data.post_excerpt | markdown }}
        </div>
      </div>
    {% endfor %}
</div>
