---
layout: layouts/base.liquid
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: "{{ tag }}"
---
<div class="m-8">
  <h1 class="font-sans text-2xl md:text-4xl">Posts tagged “{{ tag }}”</h1>

  <ul class="mt-6 ml-6">
  {% assign taglist = collections[tag] %}
  {% for post in taglist | reverse %}
    <li class="pb-4">
      {% render "partials/post-meta-dates.liquid", page: page, post: post %}

      <a class="text-lg md:text-2xl hover:text-red-600 dark:hover:text-red-900" href="{{ post.url }}">{{ post.data.title }}</a>

      {% render "partials/post-meta-tax.liquid", page: page, post: post, postsByCategories: collections.postsByCategories %}
    </li>
  {% endfor %}
  </ul>
</div>
