<!-- pagination.html -->

<div class="pagination">
  {% if pagination.hrefs.size > 1 %}
    <ul class="button-nav">

      <!-- Variables -->
      {% assign pagenumber = pagination.pageNumber | plus: 1 %}
      {% assign total_pages = pagination.hrefs.size %}
      {% assign start_index = pagenumber | minus: 1 %}

      {% if start_index < 2 %}
        {% assign start_index = 2 %}
      {% endif %}

      {% assign end_index = start_index | plus: 2 %}

      {% assign total_pages_1 = total_pages | minus: 1 %}
      {% if end_index > total_pages_1 %}
        {% assign end_index = total_pages | minus: 1 %}
        {% assign start_index = end_index | minus: 2 %}
      {% endif %}

      {% if total_pages == 2 %}
        {% assign start_index = 0 %}
        {% assign end_index = 0 %}
      {% endif %}
      {% if total_pages == 3 %}
        {% assign start_index = 2 %}
        {% assign end_index = 2 %}
      {% endif %}
      {% if total_pages == 4 %}
        {% assign start_index = 2 %}
        {% assign end_index = 3 %}
      {% endif %}

      <!-- The left arrow -->
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" aria-label="Previous" role="button"title="Previous Page"> <i class="bi bi-caret-left-fill"></i></a>
        {% else %}
          <span aria-disabled="true" aria-label="Previous" role="button"><i class="bi bi-caret-left-fill inactive"></i></span>
        {% endif %}
      </li>

      <!-- The fixed page 1 block -->
      <li>
        {% if page.url == pagination.hrefs[0] %}
          <span aria-disabled="true" aria-label="Page 1" role="button" class="inactive">1</span>
        {% else %}
          <a href="{{ pagination.hrefs[0] }}" aria-label="Page 1" role="button">1</a>
        {% endif %}
      </li>

      <!-- The page block window -->
      {% if start_index > 0 or end_index > 0 %}
        {% for i in (start_index..end_index) %}
          {% assign j = i | minus: 1 %}

          <!-- A gap if the next block is greater than page 2 -->
          {% if forloop.first %}
            {% if j >= 2 %}
              &nbsp;&nbsp;
            {% endif %}
          {% endif %}

          <!-- The pages in the page block window -->
          <li>
            {% if page.url == pagination.hrefs[j] %}
                <span aria-disabled="true" aria-current="page" role="button" aria-label="Page {{ i }}" role="button">{{ i }}</span>
            {% else %}
                <a href="{{ pagination.hrefs[j] }}" aria-label="Page {{ i }}" role="button">{{ i }}</a>
            {% endif %}
          </li>

          <!-- A gap if the next block is the final page block -->
          {% if forloop.last %}
            {% if i != total_pages_1 %}
              &nbsp;&nbsp;
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- The fixed last block -->
      {% assign last_page = pagination.hrefs.size | minus: 1 %}

      <li>
        {% if page.url == pagination.hrefs[last_page] %}
          <span aria-current="page" aria-label="Page {{ pagination.pages.size }}" role="button" class="inactive">{{ pagination.hrefs.size }}</span>
        {% else %}
          <a href="{{ pagination.hrefs[last_page] }}" aria-label="Page {{ pagination.pages.size }}"  role="button">{{ pagination.hrefs.size }}</a>
        {% endif %}
      </li>

      <!-- The right arrow -->
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" aria-label="Next" role="button" role="button" title="Next Page"><i class="bi bi-caret-right-fill"></i></a>
        {% else %}
          <span aria-disabled="true" aria-label="Next" role="button"><i class="bi bi-caret-right-fill inactive"></i></span>
        {% endif %}
      </li>
    </ul>
  {% endif %}
</div>
