<div class="blog-meta blog-taxonomies">
  {% for category in post.data.categories %}
    {% assign categorySlug = category | slugify %}

    {% if forloop.first %}<i class="bi bi-folder"></i>&nbsp;{% endif %}
    {% if page.url contains categorySlug %}
      {{ category}}
    {% else %}
      <a href="/categories/{{ category | slugify }}">{{ category -}}</a>
    {% endif %}

    {% unless forloop.last %}, {% endunless -%}
  {% endfor %}

  {% for tag in post.data.tags %}
    {% if forloop.first %}&nbsp;&nbsp;&nbsp;<i class="bi bi-tag"></i>{% endif %}

    {% if page.url contains tag %}
      {{ tag }}
    {% else %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
    {% endif %}
    {% unless forloop.last %}, {% endunless -%}
  {% endfor %}
</div>
