<div class="text-xs md:text-sm mb-3 mt-1">
  {{ post.date | postDate }}

  {% assign modifiedDate = post.data.lastmod %}
  {% if modifiedDate %}
    &nbsp;&nbsp;Updated: {{ modifiedDate | postDate }}
  {% endif %}

  {% for category in post.data.categories %}
    {% for array in postsByCategories %}
      {% if array.categoryName == category %}
        {% assign categoryURL = array.slug %}
        {% break %}
      {% endif %}
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;About: <a href="{{ categoryURL }}">{{ category }}</a>
  {% endfor %}

  {% for tag in post.data.tags %}
    # <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
</div>
